<div class="row my-4">
  <div class="col-2 text-center">
    <a routerLink="dashboard" routerLinkActive="active" class="btn btn-outline-info btn-block text-primary
    font-weight-bold border-primary rounded-pill shadow"> Dashboard </a>
  </div>
  <div class="col-2 text-center">
    <a routerLink="search-land-records" routerLinkActive="active" class="btn btn-outline-info btn-block text-primary
    font-weight-bold border-primary rounded-pill shadow"> Search Land Records </a>
  </div>
  <div class="col-3 text-center">
    <a routerLink="search-notaries-surveyors" routerLinkActive="active" class="btn btn-outline-info btn-block text-primary
    font-weight-bold border-primary rounded-pill shadow"> Search Notaries & Surveyors </a>
  </div>
  <div class="col-3 text-center">
    <a routerLink="add-new-member" routerLinkActive="active" class="btn btn-outline-info btn-block text-primary
    font-weight-bold border-primary rounded-pill shadow"> Add New Notary or Surveyor </a>
  </div>
  <div class="col-2 text-center">
    <a routerLink="transaction-requests" routerLinkActive="active" class="btn btn-outline-info btn-block text-primary
    font-weight-bold border-primary rounded-pill shadow"> Ongoing Transaction </a>
  </div>
</div>
